.centrar {
	text-align: center;
}

.izquierda {
	text-align: left;
}

.justificado {
	text-align: justify;
}

.titulos {
    color: #F7F4F4;
    font-size: 26px;
    text-align: center;
    margin: 0px;
}

.titulos__MarginBot {
    margin: 0px 0px 5vh 0px;
}

.subtitulos {
    font-size: 26px;
    color: #FFC597;
}

p.TextoBasico {
    color: white;
    font-size: 16px;
}

.textoBlanco {
    font-size: 1em;
    color: white;
}